body {
    background: url("../media/sad_pokeball_by_nirufe-d3hrs0f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
    font-size: 2.5rem;
    font-family: 'Rammetto One', cursive;
}

h2{

    font-size: 2.1rem;
}

h3{
    font-size: 1.5rem;

}

h3{
    font-size: 1.4rem;
}


p{
    font-size: 1.2rem;
}


div{
    display: block;
}

ul{

    padding-left: 15px;
    padding-right: 15px;


}

li{
    width: 24%;
    border:1px solid lightgray;
    margin-left: 2.5%;
    margin-right:2.5%;
    display: inline-block;
    margin-bottom:20px;


}

li img{
    display: block;
    margin-left:auto;
    margin-right: auto;
}


.margin-auto{
    margin-left: auto;
    margin-right: auto;
}

.text-align-center{
    text-align: center;!important;
}


#name{
    margin-top:25px;
    font-weight:800;
    font-size: 1.2rem;

}

#name, .description{
    text-align: center;
    margin-bottom:15px;
}


#pokedexnr,#weight,#height{
    margin-bottom:10px;
}

